@model PruebaSinImportancia.Models.Libro

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" @Url.Action("Login","Login")>
    <div>
        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Inicio de Sesion</h4>
                                            <div class="form-group">
                                                <input id="Text1" type="text" name="Nombre" placeholder="Email" class="form-style" />
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input id="Text1" type="password" name="Autor" placeholder="Contraseña" class="form-style" />
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <a href="#">No tienes cuenta ?, Registrar</a>
                                            <input id="Button1" type="submit" value="Login" name="Index" class="btn mt-4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</form>